* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #eee;
    background-color: #2a2a2a;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
}
h3{
    color: #0FF;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
img{
    width: 100%;
}
video{
    width: 100%;
    height: auto;
}
main {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
}
.sidebar{
    width: 100%;
    padding: 10%;
}
.page-content{
    width: 100%;
    padding: 10%;
}
.row{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
/* .col-two{
    width: 48%;
    position: relative;
}
.col-three{
    width: 30%;
    position: relative;
}
.col-four{
    width: 23%;
    position: relative;
}
.col-five{
    width: 18%;
    position: relative;
}
.col-six{
    width: 15%;
    position: relative;
} */
.col{
    width: 100%;
    position: relative;
    padding: 0 10px;
    margin-bottom: 10px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.download-btn{
    background-color: #0FF;
    color: #2a2a2a;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
}
/*** Header & Navigation ***/
header {
    position: fixed;
    width: 100%;
    /* box-shadow: 0 2px 10px 4px #0FF; */
    border-bottom: 3px solid #0FF;
    background-color: #2a2a2a;
    z-index: 2;
}
header nav{
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
header nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 25px 20px;
}
header nav ul li a{
    color: #fff;
    text-decoration: none;
}
/******************/

/***Sidebar***/
.sidebar img{
    /* box-shadow: 0 0px 15px 0 rgba(0, 255, 255, 0); */
    margin-bottom: 15px;
    border: 3px solid #0ff;
    /* transform: rotate(0deg);
    -ms-transform: rotate(0deg); 
    -webkit-transform: rotate(0deg); 
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-backface-visibility: hidden;
    transition: all .3s cubic-bezier(0.77, 0, 0.175, 1); */
}
.sidebar img:hover{
    /* transform: rotate(4deg);
    -ms-transform: rotate(4deg); 
    -webkit-transform: rotate(4deg); 
    -o-transform: rotate(4deg); 
    -moz-transform: rotate(4deg);
    box-shadow: 0 0px 15px 0 rgba(0, 255, 255, 1);
    border: 2px solid #0ff; */
}
h2.profession-title{
    font-size: 1.3rem;
    background-color: #0FF;
    color: #2a2a2a;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}
.sidebar h1{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1em;
    margin-bottom: 10px;
}
.sidebar ul {
    margin-bottom: 25px;
}
.sidebar ul li{
    list-style: none;
}
.sidebar ul li a{
    color: #fff;
    text-decoration: none;
}
.sidebar ul li::before{
    content: "";
    width: 3px;
    height: 15px;
    background-color: #0FF;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: -1px;
    transition: width .2s;
}
.sidebar ul li:hover::before{
    width: 7px;
}
.sidebar ul.brief-job-desc li{
    font-size: 15px;
    line-height: 1.5;
}
.sidebar .description a.read-more{
    display: block;
    text-align: right;
    color: #0FF;
    text-decoration: none;
}
/****** Home page *******/
.resume.about-me{
    margin-bottom: 30px;
}
.resume.about-me .label-container{
    display: none;
}
p.intro-text {
    display: none;
    max-width: 980px;
}
p.intro-text .contact-me{
    background-color: transparent;
    color: #0FF;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    width: 120px;
    margin-top: 15px;
    text-align: center;
    border: 2px solid #0FF;
}
p.intro-text .contact-me:hover{
    background-color: #0FF;
    color: #2a2a2a;
    border: 2px solid #0FF;
}
p.intro-text.mobile{
    display: block;
}
h3.resume-label{
    background-color: #0FF;
    color: #2a2a2a;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 10px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 15px;
    border: 2px solid #0FF;
}
.resume .label-container {
    width: 100%;
    display: block;
}
.resume .cv-content {
    width: 100%;
    display: block;
}
.resume ul{
    padding-left: 15px;
    margin: 15px;
}
.resume ul li{
    list-style-type: none;
}
.resume ul li::before{
    content: "";
    width: 5px;
    height: 5px;
    display: inline-block;
    background-color: #0FF;
    vertical-align: middle;
    margin-right: 15px;
}
.resume .cv-content .job{
    margin-bottom: 35px;
}
span.locations {
    display: block;
}
.resume .cv-content h2{
    color: #0FF;
    line-height: 1.7rem;
}
.resume .cv-content p.position {
    font-weight: 700;
    color: #aaa;
}
.header {
    position: relative;
    padding-top: 30px;
    width: 180px;
    margin: 0 auto;
}
.header:before {
    content: "";
    width: 7px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 50%;
    background-image: linear-gradient( #0ee0e0, #66efef, #0ee0e0);
    transform: translate(-50%, -2px);
    z-index: -2;
}
.header:after {
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    box-shadow: 15px 15px 58px 30px #0FF;
    z-index: -1;
    transition: width .5s, height .4s;
}
.header:hover:after{
    width: 75px;
    height: 75px;
}
main section:first-of-type .header:before{
    display: none;
}
.image-container {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    padding: 8px;
    background-image: linear-gradient(#0ee0e0, #8af5f5, #0ee0e0);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    position: relative;
    z-index: 2;
}
.image-container:hover{
    cursor: pointer;
}
.image-container img{
    width: 100%;
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

/* .content {
    padding: 0;
    background-color: #353535;
    position: relative;
    overflow: hidden;
    margin-top: -48px;
    margin-bottom: 48px;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: all .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.content > * {
    margin-bottom: -100%;
    transform: scaleY(0);
    transform-origin: 50% 0;
    opacity: 0;
    transition: opacity .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition-delay: .2s;
}
.content.open {
    padding: 90px 50px 50px 50px;
    border-bottom: 5px solid #0ff;
    margin-bottom: 0;
    border-top: 5px solid #0ff;
    transform: scaleY(1);
}
.content.open > * {
    opacity: 1;
    margin-bottom: 0;
    transform: scaleY(1);
} */
.to-top {
    width: 40px;
    height: 40px;
    background-color: #2f2f2f;
    border: 3px solid #4ce7e7;
    position: fixed;
    right: 30px;
    top: 75vh;
    box-shadow: 0 0 20px 3px #0FF;
    z-index: -2;
    opacity: 0;
    transition: opacity .3s cubic-bezier(0.6, -0.28, 0.735, 0.045), z-index 2s;
}
.to-top.on {
    cursor: pointer;
    z-index: 2;
    opacity: 1;
}
.to-top i{
    position: absolute;
    color: #0ff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*** Webelinx ***/
.webelinx p.project-title{
    width: calc(100% - 20px);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    line-height: 1.2em;
    position: absolute;
    bottom: 8px;
    left: 10px;
}
/****Other projects****/
.other-projects .col.short{
    height: 250px;
    overflow: hidden;
}
@media only screen and (min-width: 1px) {
    .col-6,
    .col-5,
    .col-4,
    .col-3{
        width: 100%;
        -ms-flex-preferred-size: unset;
        flex-basis: unset;
        -ms-flex-positive: unset;
        flex-grow: unset;
    }
}
@media only screen and (min-width: 480px) {
    .col-6,
    .col-5,
    .col-4,
    .col-3{
        width: 50%;
    }
}
@media only screen and (min-width: 576px) {
    .sidebar,
    .page-content{
        padding: 5% 5% 0 5%;
    }
    .sidebar{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .sidebar .image{
        width: 25%;
    }
    .sidebar .description{
        width: 70%;
    }
    .col-5{
        width: 33.3333%;
    }
}
@media only screen and (min-width: 768px) {
    .col-6,
    .col-4,
    .col-3{
        width: 33.3333%;
    }
}
@media only screen and (min-width: 992px) {
    .col-6,
    .col-5,
    .col-4{
        width: 25%;
    }
}
@media only screen and (min-width: 1200px) {
    .col-6,
    .col-5{
        width: 20%;
    }
}
@media only screen and (min-width: 1400px) {
    .sidebar{
        width: 20%;
        padding: 2%;
        border-right: 3px solid #0FF;
        min-height: 100vh;
        position: fixed;
        display: block;
    }
    .sidebar .image,
    .sidebar .description{
        width: 100%;
    }
    .page-content{
        width: 80%;
        padding: 2%;
        margin-left: 20%;
    }
    .col-6{
        width: 16.66666667%;
    }
    p.mobile.intro-text{
        display: none;
    }
    p.intro-text,
    .resume.about-me .label-container{
        display: inline-block;
    }
    h3.resume-label{
        width: 200px;
        margin-bottom: 0;
    }
    .resume .label-container {
        width: 21%;
        display: inline-block;
        vertical-align: top;
    }
    .resume .cv-content {
        width: 78%;
        display: inline-block;
    }
}
@media only screen and (min-width: 1600px) {
    .resume .label-container {
        width: 19%;
    }
    .resume .cv-content {
        width: 80%;
    }
}

/* 
@media only screen and (max-width: 1700px) {
    .col-6{
        width: 20%;
    }
}

@media only screen and (max-width: 1200px) {
    .col-6{
        width: 25%;
    }
}
@media only screen and (max-width: 1100px) {
    .col-6{
        width: 33.33333%;
    }
}

@media only screen and (max-width: 860px) {
    .col-three{
        width: 48%;
    }
}
@media only screen and (max-width: 768px) {
    .col-two{
        width: 100%;
    }
}
  
@media only screen and (max-width: 640px) {
    .col-three{
        width: 100%;
    }
  } */

  @media only screen and (max-width: 640px) {
    header {
        position: fixed;
        width: 100%;
        /* box-shadow: 0 2px 10px 4px #0FF; */
        border-bottom: 3px solid #0FF;
        background-color: #2a2a2a;
        z-index: 2;
        height: 50px;
    }
    header nav {
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        height: 0px;
        overflow: hidden;
        background-color: #2a2a2a;
        border-bottom: 0px solid #0FF;
        transition: height .3s;
    }
    header nav.open {
        height: 450px;
        border-bottom: 4px solid #0FF;
    }
    header nav.open ul{
        margin-top: 50px;
    }
    header nav ul li {
        display: block;
    }
    .mobile-toggle {
        width: 35px;
        height: 35px;
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    .mobile-toggle span{
        width: 90%;
        height: 3px;
        margin: 6px auto;
        background-color: #0ff;
        display: block;
    }
  }
  .page-content .resume.about-me .resume-laptop.download-btn{
        display: none;
    }
  @media only screen and (max-height: 900px) {
    .sidebar h2.profession-title {
        font-size: 1.1rem;
        line-height: 1.3rem;
    }
    .sidebar .resume-desktop.download-btn{
        display: none;
    }
    .page-content .resume.about-me .resume-laptop.download-btn{
        display: inline-block;
        margin-top: 15px;
    }
  }
  @media only screen and (max-height: 900px) and (max-width: 1400px) {
    .sidebar .resume-desktop.download-btn{
        display: inline-block;
    }
  }